page-login {
.logo-login {
    width: 70%;
    margin: 0 auto;
}
.item-md {
    padding-left: 0;
}
.item-md.item-block .item-inner {
    padding-right: 0;
    border-bottom: none;
}

.text-input {
    padding: 8px 1rem;
    border: 1px solid #ccc;
}
.input {
    border-bottom: none;
}
.login-botones {
    margin-top: 10px;
}
.login-botones {
    margin-left: 8px;
    margin-right: 8px;
}

}
